@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 36 56% 91%;
    --foreground: 220 100% 15%;

    --card: 0 0% 100%;
    --card-foreground: 220 100% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 100% 15%;

    --primary: 220 100% 33%;
    --primary-foreground: 36 56% 91%;

    --secondary: 36 56% 91%;
    --secondary-foreground: 220 100% 15%;

    --muted: 36 40% 85%;
    --muted-foreground: 220 30% 40%;

    --accent: 220 100% 33%;
    --accent-foreground: 36 56% 91%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 36 56% 91%;

    --border: 36 40% 80%;
    --input: 36 40% 80%;
    --ring: 220 100% 33%;

    --radius: 0.25rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 220 100% 10%;
    --foreground: 36 56% 91%;

    --card: 220 100% 15%;
    --card-foreground: 36 56% 91%;

    --popover: 220 100% 15%;
    --popover-foreground: 36 56% 91%;

    --primary: 36 56% 91%;
    --primary-foreground: 220 100% 33%;

    --secondary: 220 100% 20%;
    --secondary-foreground: 36 56% 91%;

    --muted: 220 50% 20%;
    --muted-foreground: 36 30% 70%;

    --accent: 36 56% 91%;
    --accent-foreground: 220 100% 33%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 56% 91%;

    --border: 220 50% 20%;
    --input: 220 50% 20%;
    --ring: 36 56% 91%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
